.video-element__caption {
	position: absolute; top: 0; left: 0;
	width: 100%; min-height: 100%;
	padding: 10px 0 0 5px;
	background: #6D8583;
	opacity: 0;
	backface-visibility: hidden;
	box-shadow: 0 0 0 0px #6D8583;
	transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
	}

.v2 .video-element__caption {
	box-shadow: 0 0 10px 5px transparentize(#000, 0.5) !important;
	padding: 20px 10px 10px 10px;
  border-radius: 0 0 10px 10px;
  transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
	}

.video-element:hover .video-element__caption {
	@media (min-width: 768px) {
		opacity: 1;
		min-height: 100%;
		box-shadow: 10px 0 0 10px #6D8583;		
		}
	}

.caption__title {
	margin-top: 60%;
	}

.caption__tags {
	
	}

	.caption__tags .tag {
		font-size: 10px;
		padding: 3px;
		&:hover {
			background: transparentize(#fff, 0.8);
			}
		}

	.caption__title a {
		color: #fff;
		&:hover {
			text-decoration: none;
			}
		}

.caption__sitename {
	position: absolute; bottom: 0; right: 0;
	a {
		color: #FFF;
		text-decoration: underline;
		font-size: 12px;
		}
	}

.v2 .caption__sitename {
	bottom: 10px;
	right: 10px;
	}

.caption__sitename,
.caption__title,
.caption__tags {
	opacity: 0;
	transition: opacity 0s;
	}

.video-element {
	&:hover .caption__sitename,
	&:hover .caption__title,
	&:hover .caption__tags {
		transition: opacity 0.3s 0.2s;
		opacity: 1;
		}
	}