$main_bg: #7F1310;
$main_color: #000;
$second_color: #FF716D;
$link_color: #FF716D;
$icon-colors: #fff;

$odd-bg: #fff;
$even-bg: #f0f0f0;
$odd-headline-color: #000;
$even-headline-color: #000;


$video-element__title: $main_bg;
$video-element-title_color: #fff;

$tag_bg: #202020;
$tag_border: $main_bg;
$tag-color: $link_color;
$dropdown-menu-lang_color: #fff;
$video-element-count_color: transparentize(#fff, 0.5);

$site-rating-list__counter: $link_color;
$title-container_color: #000;
$video-element__caption: $main_bg;

$video-element__caption: $main_bg;
$video-element__caption_shadow: $video-element__caption;
$player-container__published: $main_color;

$caption__sitename_a: $link-color;
$caption__tag_hover_bg: $tag_border;

$breadcrumbs-container_COLOR: $main_color;
$breadcrumbs-container-link_COLOR: $link_color;