$main_bg: #6D8583;
$main_color: #333;
$second_color: #fff;
$link_color: #333;
$icon-colors: #fff;

$odd-bg: #fff;
$even-bg: #f2f2f2;
$odd-headline-color: #000;
$even-headline-color: #000;


$video-element__title: #6D8583;
$video-element-title_color: #fff;

$tag_bg: #fff;
$tag_border: $main_bg;
$tag-color: $main-color;

$dropdown-menu-lang_color: #fff;
$video-element-count_color: transparentize(#fff, 0.5);

$site-rating-list__counter: $link_color;
$title-container_color: #000;
$video-element__caption: $main_bg;

$video-element__caption: $main_bg;
$video-element__caption_shadow: $video-element__caption;
$player-container__published: $main_color;

$caption__sitename_a: #fff;
$caption__tag_hover_bg: $tag_border;

$breadcrumbs-container_COLOR: $main_color;
$breadcrumbs-container-link_COLOR: $link_color;