@-webkit-keyframes opct {
  0% {
    fill: white;
  }

  100% {
    fill: rgba(255, 255, 255, 0.5);
  }
}
@keyframes opct {
  0% {
    fill: white;
  }

  100% {
    fill: rgba(255, 255, 255, 0.5);
  }
}
body {
  background: #f4ac42;
  color: white;
}

a {
  color: white;
}

a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-default,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-nav .open .dropdown-menu--lang,
.navbar-nav .open .dropdown-menu--search {
  background: #f4ac42 !important;
}

.navbar-nav .open .dropdown-menu--lang {
  color: white;
}

.sidebar-nav svg {
  fill: white;
}

.sidebar-nav svg:hover {
  fill: rgba(255, 255, 255, 0.5);
  -webkit-animation: opct 0.5s;
          animation: opct 0.5s;
}

.video-element__title {
  color: white;
  background: rgba(51, 51, 51, 0.5);
}

.v2 .video-element__title:hover {
  color: rgba(255, 255, 255, 0.7);
}

.video-element__title a,
.caption__title a {
  color: white;
}
.video-element__title a:hover,
.caption__title a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.video-element:hover .video-element__title {
  background: rgba(51, 51, 51, 0.7);
}

.commercial-container,
.related-container,
.wanted-container,
.-odd {
  background: white;
}
.commercial-container h2,
.related-container h2,
.wanted-container h2,
.-odd h2 {
  color: #333333;
}

.tags-container,
.rating-container,
.-even {
  background: #fcebd3;
}
.tags-container h2,
.rating-container h2,
.-even h2 {
  color: #333333;
}

.tag {
  border: solid 1px #b39c7b;
  color: white;
  background: #7f6949;
}
.tag:hover {
  background: #b39c7b;
  border: solid 1px #b39c7b;
}

.dropdown-menu--lang a {
  color: white;
}

.title-container {
  background: white;
}

.breadcrumbs-container {
  background: white;
  color: #7f6949;
}
.breadcrumbs-container a {
  color: #7f6949;
}

.video-element__time {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.video-element__count {
  color: rgba(255, 255, 255, 0.5);
}

.video-player-container {
  background: #fcebd3;
}

.site-rating-list__counter {
  color: #333333;
}

.site-rating-list > li > a {
  color: #333333;
}

.player-container__sitename {
  background: #f4ac42;
  color: white;
}
.player-container__sitename a {
  color: white;
}
.player-container__sitename:hover {
  background: rgba(244, 172, 66, 0.8);
}
.player-container__sitename:hover a {
  text-decoration: none;
}

.title-container {
  color: black;
}

.video-element__caption {
  background: #f4ac42;
  box-shadow: 0 0 0 0px #f4ac42;
}

.video-element:hover .video-element__caption {
  box-shadow: 0 0 0 10px #f4ac42;
}

.player-container__published {
  color: white;
}

.caption__sitename a {
  color: white;
}

.caption__tags .tag:hover {
  background: #b39c7b;
}

.v2 .tag-list dt {
  background: #7f6949;
  color: white;
}

.v2 .tag-list dd {
  background: #7f6949;
}

.v2 .rel-item {
  background: #7f6949;
}

.v2 .rel-item img {
  border: 1px solid #c6b49b;
}
