@-webkit-keyframes opct {
  0% {
    fill: #2b2301;
  }

  100% {
    fill: rgba(43, 35, 1, 0.5);
  }
}
@keyframes opct {
  0% {
    fill: #2b2301;
  }

  100% {
    fill: rgba(43, 35, 1, 0.5);
  }
}
body {
  background: #e2da99;
  color: #2b2301;
}

a {
  color: #509ca0;
}

a:hover {
  color: rgba(80, 156, 160, 0.8);
}

.navbar-default,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-nav .open .dropdown-menu--lang,
.navbar-nav .open .dropdown-menu--search {
  background: #e2da99 !important;
}

.navbar-nav .open .dropdown-menu--lang {
  color: #509ca0;
}

.sidebar-nav svg {
  fill: #2b2301;
}

.sidebar-nav svg:hover {
  fill: rgba(43, 35, 1, 0.5);
  -webkit-animation: opct 0.5s;
          animation: opct 0.5s;
}

.video-element__title {
  color: #2b2301;
  background: rgba(226, 218, 153, 0.5);
}

.v2 .video-element__title:hover {
  color: rgba(43, 35, 1, 0.7);
}

.video-element__title a,
.caption__title a {
  color: #2b2301;
}
.video-element__title a:hover,
.caption__title a:hover {
  color: rgba(43, 35, 1, 0.7);
}

.video-element:hover .video-element__title {
  background: rgba(226, 218, 153, 0.7);
}

.commercial-container,
.related-container,
.wanted-container,
.-odd {
  background: #ede8c1;
}
.commercial-container h2,
.related-container h2,
.wanted-container h2,
.-odd h2 {
  color: black;
}

.tags-container,
.rating-container,
.-even {
  background: #f3f0d5;
}
.tags-container h2,
.rating-container h2,
.-even h2 {
  color: black;
}

.tag {
  border: solid 1px #342800;
  color: white;
  background: #2b2301;
}
.tag:hover {
  background: #342800;
  border: solid 1px #342800;
}

.dropdown-menu--lang a {
  color: #509ca0;
}

.title-container {
  background: #ede8c1;
}

.breadcrumbs-container {
  background: #ede8c1;
  color: #2b2301;
}
.breadcrumbs-container a {
  color: #509ca0;
}

.video-element__time {
  background: rgba(0, 0, 0, 0.5);
  color: #73afb6;
}

.video-element__count {
  color: rgba(43, 35, 1, 0.5);
}

.video-player-container {
  background: #f3f0d5;
}

.site-rating-list__counter {
  color: #509ca0;
}

.site-rating-list > li > a {
  color: #333333;
}

.player-container__sitename {
  background: #e2da99;
  color: #73afb6;
}
.player-container__sitename a {
  color: #73afb6;
}
.player-container__sitename:hover {
  background: rgba(226, 218, 153, 0.8);
}
.player-container__sitename:hover a {
  text-decoration: none;
}

.title-container {
  color: black;
}

.video-element__caption {
  background: #e2da99;
  box-shadow: 0 0 0 0px #e2da99;
}

.video-element:hover .video-element__caption {
  box-shadow: 0 0 0 10px #e2da99;
}

.player-container__published {
  color: #2b2301;
}

.caption__sitename a {
  color: #509ca0;
}

.caption__tags .tag:hover {
  background: #342800;
}

.v2 .tag-list dt {
  background: #7f6949;
  color: white;
}

.v2 .tag-list dd {
  background: #7f6949;
}

.v2 .rel-item {
  background: #7f6949;
}

.v2 .rel-item img {
  border: 1px solid #c6b49b;
}
